.table {
  border-collapse: collapse;
  width: 100%;
}

.table th,
.table td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid rgb(177, 177, 177);
}

.table th:last-child,
.table td:last-child {
  border-right: none !important;
}

.table th:first-child,
.table td:first-child {
  border-left: none;
}

.table th:nth-child(3n+1), 
.table td:nth-child(3n+1) {
  border-right: 1px solid rgb(177, 177, 177);
}

.table th {
  border-bottom: 3px solid rgb(177, 177, 177);
}