.input-table {
    border: 1px white solid;
    min-width: 50em;
    margin: 2em;
    /* height: 40em; */
}

.input-wrapper {
    margin: 0;
    padding: .4em;
}

.vbit-input,
.pbit-input {
    width: 10px;
    padding: .2em;
    border: solid white 1px;
    padding: .3em;
    font-size: 20px;

}

.input-text {
    margin: 0;
}

.list-item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.list-item-bit-input-wrapper {
    display: flex;
}

.virtual-wrapper {
    padding: 1em;
    margin: 5em;
}

.table th {
    border-bottom: 1px solid white;
    padding: .5em;
    font-size: 16px;
}


.highlight {
    background-color: rgb(118, 118, 31);
}

.correct {
    border-color: rgb(21, 190, 21);
}

button {
    margin: 1em;
    padding: .5em;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: rgb(31, 31, 31);
    color: white;
}
