#root {
  max-width: 1920px;
  /* margin: 5em auto; */
  padding: 2rem;
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-tables {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.settings-wrapper {
  position: absolute;
  top: 5em;
  float: left;
  background-color: grey;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  width: 50em;
  z-index: 1;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
}


.pi.pi-cog {
  position: sticky;
  top: 0;
  padding: .6em;
  float: left;
}

@media only screen and (max-width: 1550px) {
  #root {
    padding: 1rem;
  }

  .wrapper {
    flex-direction: column;
  }

  .wrapper-tables {
    flex-direction: column;
  }

  .table {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  .table th,
  .table td {
    padding: 0.25rem;
  }
}